<!DOCTYPE HTML>
<html ng-app="itunes">
  <head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Itunes</title>
  </head>
  <body ng-controller="mainCtrl">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="myContainer">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music"></span> DevTunes</a>
          </div>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="artist" placeholder="Search for Artist" >
              <select class="form-control" ng-model="typeOfData" ng-change="getSong()">
                  <option value="" selected="">All</option>
                  <option value="musicVideo" selected="">Music Video</option>
                  <option value="movie">Movie</option>
                  <option value="musicTrack">Music</option>
                  <option value="podcast">Podcast</option>
                  <option value="tvShow">TV Show</option>
              </select>

              <button class="btn btn-primary" ng-click="getSongData()"> Submit </button>
              <!-- comment this out if you want to use ng-grid filtering -->
              <select class="input-medium form-control" ng-model="sortProp">
                <option value="Song">Song</option>
                <option value="Genre">Genre</option>
                <option value="Collection">Collection</option>
                <option value="Type">Type</option>
                <option value="Explicit">Explicit</option>
                <option value="TrackPrice">Track Price</option>
                <option value="CollectionPrice">Collection Price</option>
            </select>
              <input type="text" class="form-control" ng-model='filterOptions.filterText' placeholder="Filter by..."/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"> Your Search Results:</div>
     <div class="gridStyle" ng-grid="gridOptions" swap-image="defaultInfo.search"></div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/itunesService.js"></script>
  </body>
</html>